.css-1m20j1c-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: rgb(242, 113, 28) !important;
    font-weight: bold;
}
.css-11yukd5-MuiTabs-indicator {
    background-color: rgb(242, 113, 28) !important;
}

.css-1ygcj2i-MuiTableCell-root {
    background-color: rgb(242, 113, 28);
    color: white !important;
}

Table {
    margin: 36px 0 36px;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    min-width: 300px !important;
}